<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (info.a > 18){ %>
    <p>
      Welcome <%= info.n %>, you are <%= info.a %> years old and are old enough
      to drive in Iowa.
    </p>
    <%}else{ %>
    <p>
      Welcome <%= info.n %>, you are <%= info.a %> years old and are not old
      enough to drive in Iowa.
    </p>
    <%} %>
  </body>
</html>
