<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Product - <%= product[0].name %></h1>
        <button><a href="/shoppingCart">Go to Shopping Cart</a></button>
      </div>
      <div class="content">
        <% for (let p of product){ %>
        <form action="/addToCart" method="post">
          <input type="hidden" name="id" value="<%= p.id %>" />
          <h3><%= p.name %></h3>
          <span><%= p.description %></span>
          <h4>$<%= p.price %></h4>
          <input type="submit" value="Add to cart" />
          <hr />
        </form>
        <% } %>
      </div>
    </div>
    <%- include("footer") %>
  </body>
</html>
